.u-section-1 .u-sheet-1 {min-height: 588px}
.u-section-1 .u-image-1 {width: 655px; height: 354px; margin: 100px auto 60px} 

@media (max-width: 767px){ .u-section-1 .u-image-1 {width: 540px; height: 292px} }

@media (max-width: 575px){ .u-section-1 .u-image-1 {width: 340px; height: 184px} }